.container {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* 주축으로 위치 선정해주기 */
    justify-content: center;
    /* 교차축으로 위치 선정해주기 */
    align-items: center;
    /* 자식들 사이에 gap 주기 */
    gap: 10px;
}

.container > div {
    width: 100px;
    height: 100px;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}
.four {
    background-color: pink;
}
.five {
    background-color: gray;
}