.moto{
    font-size: 30px;
    text-align: center;
}

.ment{
    font-size: 20px;
    text-align: center;
}

.button{
    border: 1px solid grey;
    width: 200px;
    padding: 10px 0;
    color: gray;
    text-align: center;
}

.fruit{
    width: 500px;
    border: 1px solid green;
}