.login {
    color: white;
    background-color: black;

    text-align: center;
    width: 345px;
    padding : 12px 0;
    border-radius: 8px;
}

.coupon {
    color: #0078ff;
}

.register {
    color: #0078ff;
    background-color: white;
    /* border: 선두께 선스타일 색상 */
    border-radius: 4px;
    border: 1px solid #0078ff;
    padding: 3px 8px;
}