.naverLogin {
  color: white;
  background-color: #03c75a;
  border: 1px solid rgba(0, 0, 0, 0.06);

  text-align: center;
  width: 345px;
  padding: 12px 0;
  border-radius: 8px;
}

.kakaoLogin {
  color: #020100;
  background-color: #fee500;

  text-align: center;
  width: 345px;
  padding: 12px 0;
  border-radius: 8px;
}

.appleLogin {
  color: #020100;
  background-color: white;
  border: 1px solid #dbdbdb;

  text-align: center;
  width: 345px;
  padding: 12px 0;
  border-radius: 8px;
}
